<div class="container">
  <div class="row">
    <div class="offset-4 col-4">
      <div class="list-group text-center">
        <p  class="list-group-item list-group-item-action active">
          Sohbetler
        </p>
        <a href="#" class="list-group-item list-group-item-action">Global</a>
        <a href="#" class="list-group-item list-group-item-action">Ödev Grubu</a>
        <a [routerLink]="" (click)="redirectChatPage()" class="list-group-item list-group-item-action">Ronaldo</a>
      </div>
    </div>
  </div>
</div>


