<div class="container">
  <div class="row pt-5">
    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tüm Kullanıcılar</mat-card-title>
        </mat-card-header>
        <mat-card-content style="justify-content: center; text-align: center">
          <a [routerLink]="" (click)="redirectChatPage(user.username)" *ngFor="let user of this.users"><p>{{user.username}}</p></a>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tüm Gruplar</mat-card-title>
        </mat-card-header>
        <mat-card-content style="justify-content: center; text-align: center">
          <a [routerLink]="" (click)="redirectChatPage(user.username)" *ngFor="let user of this.users"><p>{{user.username}}</p></a>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <button mat-flat-button color="primary" (click)="redirectToAllChat()">GENEL SOHBET</button>
    </div>
  </div>
</div>
